@model IEnumerable<models.Models.Art>

@{
    ViewData["Title"] = "Verification Page";
}
    <div class="profcontainer">
        <h2>Verification Successful!</h2>
        <p>Now everything is working so good job you.</p>
    </div>
